// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    .5rem;
  padding-bottom: .25rem;
  margin-bottom: .25rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  word-break: break-all;
  font-weight: bold;
  font-style: italic;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 700;
    font-style: italic;
    opacity: .5;
  }
}

.nav {
  padding-top: 1rem;
  box-shadow: 0 2px 2px -2px $gray-2;
  overflow: auto;
  margin: 1rem auto;
}

.nav-container {
  overflow: auto;
  a, li {
    float: left;
  }

  ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 1rem 0 1rem;
    border-left: 1px solid $gray-2;

    &:last-child {
      padding-right: 0;
    }
  }
}
